<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" shutdownHook="disable">
  <Properties>
    <Property name="log-path">PropertiesConfiguration</Property>
    <Property name="LOG_EXCEPTION_CONVERSION_WORD">%throwable</Property>
  </Properties>
  <Appenders>
    <Console name="Console-Appender" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%pid}{magenta} [%15.15t] %style{%-40.40C{1.}}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.hibernate.SQL" level="debug" additivity="false">
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="org.hibernate.stat" level="trace" additivity="false">
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="org.hibernate.SQL_SLOW" level="trace" additivity="false">
      <AppenderRef ref="Console-Appender" />
    </Logger>
    <Logger name="org.hibernate.cache" level="trace" additivity="false">
      <AppenderRef ref="Console-Appender" />
    </Logger>

    <Root level="info">
      <AppenderRef ref="Console-Appender" />
    </Root>
  </Loggers>
</Configuration>